@charset "UTF-8";

ul{text-decoration: none;}
header {
    width:100%;
	max-width:1200px;
    height:300px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.add{
	width:100%;
	max-width:1200px;
	box-sizing:border-box;
	overflow:auto; 
	margin:50px auto 0px auto;
}
.add fieldset{
	width:100%;
	max-width:1200px;
	box-sizing:border-box;
	overflow:auto; 
	margin:0 auto;
	border: 0px;
}
.addtable{
	width:100%;
	max-width:500px;
	box-sizing:border-box;
	overflow:auto; 
	margin:0 auto;
	border-bottom: 1px solid #d7d5d5;
	border-left: 1px solid #d7d5d5;
	border-right: 1px solid #d7d5d5;
}
.addtitle{
	box-sizing:border-box;
    width:100%;
	max-width:500px;
	font-size:large;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 auto;
	text-align:center;
	background-color:#f6f6f6;
	border: 1px solid #d7d5d5;
}
.category select:first-child{
	margin-left: 15px;
}
.addtable tr td:first-child {
	background-color: #f6f6f6;
	width: 30%;
	padding: 10px;
}
.addtable tr td {
}
.addtable tr:nth-child(-n+5) td input{
	width: 200px;
	padding: 5px;
	margin: 5px 5px 5px 15px;
	float:left;
}
.addtable tr:nth-child(n+6):nth-child(-n+8) td input{
	width: 200px;
	padding: 5px;
	margin-left: 10px;
}
.saleprice td:nth-child(2) div{
	padding: 5px;
	
	float:left;
}