@charset "UTF-8";

ul{text-decoration: none;}
header {
    width:100%;
	max-width:1200px;
    height:300px;
}
.maintable{
	margin: 0 auto 100px auto;
	border: 1px solid #cccccc;
}
.maintable td{
	border: 1px solid #cccccc;
}.maintable th{
	background-color : #eeeeee;
	border: 1px solid #cccccc;
}